:root {

    /* FONT */
    font-family: rubik, sans-serif;

    /* pallete */
    --clrPrimary1: #33156b;
    --clrPrimaryBase: #7578da;
    --clrPrimary-1: #b3b0ff;
    --clrPrimary-2: #f0f0f0;

    /* SIZES */
    --xkMeme: 600px;
     --lMeme: 450px;
    --sMeme: 400px
}