.gallery img {
    filter: grayscale(50%);
    border-radius: 10px;
    transition: .3s;
}

.gallery img:hover {
    scale: 1.1;
    cursor: pointer;
    filter: none;
    position: relative;
    z-index: 1;
}