.main-header {
    width: 100%;
    height: 75px;
    background-color: var(--clrPrimary-1);
    position: sticky;
    opacity: .8;
    top: 0;
    left: 0;
}

.main-header >* {
    margin: 0 50px;

}

.main-header .logo {
    font-family: tilt-prism, monospace;
    text-transform: uppercase;
    color: var(--clrPrimary2);
    font-size: 2em;
    letter-spacing: 0.2em;
}

.main-header .main-nav {
    gap: 20px;
}

.main-header .main-nav button {
    font-size: 1.2em;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

.main-header .main-nav button:hover {
    font-size: 1.3rem;
    scale: 1.1;
    transition: .2s;
}

