.meme {
    justify-content: space-between;
    grid-template-columns: 1fr 70px 1fr;
    justify-self: center;
    align-items: center;
}



.meme .canvas-container {
    grid-column: 1;
    margin: 30px auto;
    justify-content: center;
}

.meme .canvas-container canvas {
    background-color: white;
    border: 1px solid black;
}

.arrowUp {
    height: 20px;
    color: black;
}

.meme .change-canvas {
    grid-column: 3;
align-self: inline-end;
    height: var(--lMeme);
    width: var(--lMeme);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "txt-input txt-input txt-input save-text-button save-text-button"
        "move-line-up move-line-down switch-line add-line delete-meme"
        "increase-font decrease-font align-left align-middle align-right"
        "set-font set-font set-font stroke-color-input-label color-input-label"
        "emoji-pick emoji-pick emoji-pick emoji-pick emoji-pick"
        "download-btn download-btn save-to-gallery save-to-gallery save-to-gallery"
        "fc-btn fc-btn fc-btn fc-btn fc-btn";
    /* margin: 20px 0 20px 40px; */


}

.meme .change-canvas>* {
    background-color: aliceblue;
    opacity: .9;
    font-size: 1rem;
    text-align: center;
    font-family: roboto-mono;
    border: 1px solid black;
    border-radius: 10px;
}

.meme .change-canvas>*:hover:not(.emoji-pick):not(.fc-btn) {
    background-color: rgb(119, 232, 255);
    cursor: pointer;
}

.meme .change-canvas .button {
    font-size: 1.5rem;
}

.txt-input {
    grid-area: txt-input;
}

.save-text-button {
    grid-area: save-text-button;
}

.move-line-up {
    grid-area: move-line-up;
}

.move-line-down {
    grid-area: move-line-down;
}

.switch-line {
    grid-area: switch-line;
}

.add-line {
    grid-area: add-line;
}

.delete-meme {
    grid-area: delete-meme;
}

.increase-font {
    grid-area: increase-font;
}

.decrease-font {
    grid-area: decrease-font;
}

.align-middle {
    grid-area: align-middle;
}

.align-left {
    grid-area: align-left;
}

.align-right {
    grid-area: align-right;
}

.set-font {
    grid-area: set-font;
}

.stroke-color-input-label {
    grid-area: stroke-color-input-label;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-input-label {
    grid-area: color-input-label;
    font-size: 0.4rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-pick {
    grid-area: emoji-pick;
    align-items: center;
}

.emoji-pick>* {
    margin: 0 5px;
    width: 100%;
    height: 80%;
    font-size: 2rem;
    background: none;
    border: none;

}

.emoji-pick>*:hover {
    background-color: rgb(119, 232, 255);
    cursor: pointer;
    scale: 1.3;
}


.download-btn {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: download-btn;
}

.fc-btn {
    grid-area: fc-btn;
}

.fc-btn:hover {
    background-color: #4267B2;
    cursor: pointer;
    color: white;
}

.save-to-gallery {
    grid-area: save-to-gallery;
}



#style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#style1::-webkit-color-swatch {
    border-radius: 10px;
    border: 1px solid black;
}

#style1::-moz-color-swatch {
    border-radius: 15px;
    border: 1px solid black;
}