.meme {
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}



.meme .canvas-container {
    margin: 30px auto;
    width: 40vw;
}

.meme .canvas-container canvas {
    background-color: white;
    border: 1px solid black;
}

.arrowUp {
    height: 20px;
    color: black;
}

.meme .change-canvas {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "txt-input txt-input txt-input save-text-button save-text-button"
        "move-line-up move-line-down switch-line add-line delete-meme"
        "increase-font decrease-font align-left align-middle align-right"
        "set-font set-font set-font stroke-color-input-label color-input-label"
        "emoji-pick emoji-pick emoji-pick emoji-pick emoji-pick"
        "download-btn download-btn save-to-gallery save-to-gallery save-to-gallery"
        "fc-btn fc-btn fc-btn fc-btn fc-btn";
        margin: 20px 40px;


}

.txt-input {
    grid-area: txt-input;
}

.save-text-button {
    grid-area: save-text-button;
}

.move-line-up {
    grid-area: move-line-up;
}

.move-line-down {
    grid-area: move-line-down;
}

.switch-line {
    grid-area: switch-line;
}

.add-line {
    grid-area: add-line;
}

.delete-meme {
    grid-area: delete-meme;
}

.increase-font {
    grid-area: increase-font;
}

.decrease-font {
    grid-area: decrease-font;
}

.align-middle {
    grid-area: align-middle;
}

.align-left {
    grid-area: align-left;
}

.align-right {
    grid-area: align-right;
}

.set-font {
    grid-area: set-font;
}

.stroke-color-input-label {
    grid-area: stroke-color-input-label;
}

.color-input-label {
    grid-area: color-input-label;
}

.emoji-pick {
    justify-content: space-between;
    grid-area: emoji-pick;
}

.download-btn {
    grid-area: download-btn;
}

.fc-btn {
    grid-area: fc-btn;
}

.save-to-gallery {
    grid-area: save-to-gallery;
}